@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

:root {
    --font-main: 'Montserrat', sans-serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-main: #010221;
    --color-emphasis: #0A7373;
    --color-secundary: #B7BF99;
}



*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--color-main);
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.tittle-description {
    font-family: var(--font-main);
    color: var(--color-secundary);
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 3em;
    text-shadow: 0px 0px 4px #000000;
}

.paragraph-description {
    font-family: var(--font-secundary);
    font-size: 1em;
    color: var(--color-emphasis);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .form-signUp {
    display: flex;
    flex-direction: column;
    background: var(--color-secundary);
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 10px 3px #000000;
}

.container > .form-signUp > h2 {
    font-family: var(--font-main);
    margin: 1em;
    text-transform: uppercase;
}

.container > .form-signUp > label {
    font-family: var(--font-secundary);
    margin: 1em;
    font-weight: bold;
}

.container > .form-signUp > input {
    text-align: center;
    border-radius: 6px;
    border: none;
}

.container > .form-signUp > .btn {
    margin: 1em auto;
    width: 60px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: var(--color-emphasis);
    color: var(--color-secundary);
    border: none;
}

.container > .form-signUp > .btn:hover {
    background: var(--color-main);
}

.container > .form-signUp > a {
    padding: 10px;
}

.error {
    background: #ff0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error > .error-msg {
    font-family: var(--font-secundary);
    font-weight: bold;
    color: #000000;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12em;
}

footer > p {
    color: var(--color-secundary);
    font-family: var(--font-secundary);

}

footer > p > a {
    text-decoration: none;
    color: var(--color-emphasis);
    font-family: var(--font-secundary);
    font-weight: bold;
}